<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
</head>

<body>
  <h1> [[${login_user}]]さん</h1>
  <p id="timer">次のゲームまで: 5秒</p>
  <a href="/logout">ログアウト</a>
  <div th:if="${message}">
    <h3 th:text="${message}"></h3>
  </div>
  <div th:if="${coin}">
    <h2>あなたのコインは[[${coin}]]枚です。</h2>
  </div>
  <script th:inline="javascript">
    // 設定する制限時間（秒）
    const limitTime = 4;
    let remainingTime = limitTime;


    const timerElement = document.getElementById('timer');

    // タイマーの更新と処理
    function updateTimer() {
      timerElement.textContent = `次のゲームまで: ${remainingTime}秒`;
      if (remainingTime <= 0) {
        window.location.href = "/poker";
      }
      remainingTime--;
    }

    // タイマーを1秒ごとに更新
    const timerInterval = setInterval(updateTimer, 1000);
  </script>
</body>
