<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
</head>

<body>
  <h1>こんにちは！[[${login_user}]]</h1>
  <a href="/logout">ログアウト</a>
  <br>
  <a href="/room/step1">戻る</a>
  <br>
  <h2>目次</h2>
  <ol>
    <li>目次</li>
    <li>ゲームルール</li>
    <li>用語</li>
    <li>役一覧</li>
  </ol>
  <h2>ゲームルール</h2>
  <ol>
    <li>カードを5枚引く</li>
    <li>コール，ドロップ，レイズを行う</li>
    <li>カードの引き直しを行う</li>
    <li>2,3を繰り返す</li>
    <li>勝負し，勝敗を決定する</li>
  </ol>
  <h3>用語</h3>
  <p>コール：継続</p>
  <p>ドロップ：リタイア</p>
  <p>レイズ：上乗せ</p>
  <h2>役一覧</h2>
  <p>強い順に説明します</p>
  <ul>
    <li>ロイヤルストレートフラッシュ:同種札で数字が1番高い順位にそろったもので、10・J・Q・K・Aとなる<br>
      <img th:src="@{/image/dia/10.png}" /><img th:src="@{/image/dia/11.png}" /><img
        th:src="@{/image/dia/12.png}" /><img th:src="@{/image/dia/13.png}" /><img th:src="@{/image/dia/1.png}" />
    </li>
    <br>
    <li>ストレートフラッシュ:同種札で数字が順番に並んでいるもの。ただし…K・A・2…とは続かない<br>
      <img th:src="@{/image/dia/1.png}" /><img th:src="@{/image/dia/2.png}" /><img th:src="@{/image/dia/3.png}" /><img
        th:src="@{/image/dia/4.png}" /><img th:src="@{/image/dia/5.png}" />
    </li>
    <br>
    <li>フォアカード:同位札が4枚そろったもの<br>
      <img th:src="@{/image/dia/3.png}" /><img th:src="@{/image/clover/3.png}" /><img
        th:src="@{/image/spade/3.png}" /><img th:src="@{/image/heart/3.png}" /><img th:src="@{/image/heart/12.png}" />
    </li>
    <br>
    <li>フルハウス:同位札が3枚と同位札が2枚の役<br>
      <img th:src="@{/image/spade/2.png}" /><img th:src="@{/image/clover/2.png}" /><img
        th:src="@{/image/dia/3.png}" /><img th:src="@{/image/spade/3.png}" /><img th:src="@{/image/heart/3.png}" />
    </li>
    <br>
    <li>フラッシュ:同種札が5枚そろったもの<br>
      <img th:src="@{/image/dia/5.png}" /><img th:src="@{/image/dia/6.png}" /><img th:src="@{/image/dia/7.png}" /><img
        th:src="@{/image/dia/10.png}" /><img th:src="@{/image/dia/13.png}" />
    </li>
    <br>
    <li>ストレート:スートの種類関係なく5枚のカードの数字が続いているもの<br>
      <img th:src="@{/image/dia/1.png}" /><img th:src="@{/image/clover/2.png}" /><img
        th:src="@{/image/dia/3.png}" /><img th:src="@{/image/spade/4.png}" /><img th:src="@{/image/heart/5.png}" />
    </li>
    <br>
    <li>スリーカード:同位札が3枚そろったもの<br>
      <img th:src="@{/image/dia/3.png}" /><img th:src="@{/image/spade/3.png}" /><img
        th:src="@{/image/heart/3.png}" /><img th:src="@{/image/spade/7.png}" /><img th:src="@{/image/clover/9.png}" />
    </li>
    <br>
    <li>ツウペア:2枚ずつの同位札が2組<br>
      <img th:src="@{/image/dia/5.png}" /><img th:src="@{/image/clover/9.png}" /><img
        th:src="@{/image/dia/9.png}" /><img th:src="@{/image/dia/12.png}" /><img th:src="@{/image/spade/12.png}" />
    </li>
    <br>
    <li>ワンペア:同位札が2枚そろったもの<br>
      <img th:src="@{/image/dia/1.png}" /><img th:src="@{/image/clover/4.png}" /><img
        th:src="@{/image/dia/6.png}" /><img th:src="@{/image/spade/6.png}" /><img th:src="@{/image/heart/9.png}" />
    </li>
    <br>
  </ul>
</body>
