<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
  <script th:inline="javascript" th:if="${myCards}">
    window.onload = function () {



    }
  </script>
</head>

<body>
  <h1>Authorized! [[${login_user}]]</h1>
  <a href="/logout">ログアウト</a>
  <h2><a href="/poker/card">カードを引く</a></h2>
  <div th:if="${myCards}">
    <h4>自分の手札</h4>
    <form action="#" th:action="@{/result}" th:object="${index}" method="post">
      <div th:each="item, iterStat : ${myCards}">
        <input type="checkbox" th:value="${iterStat.index+1}" th:text="${item.num} + ' ' +  ${item.cardtype}"
          th:field="*{id}" />
      </div>
      <p><input type="submit" value="送信" /> </p>
    </form>
  </div>



</body>

</html>
