<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
</head>

<body>
  <h1>Authorized! [[${login_user}]]</h1>
  <a href="/logout">ログアウト</a>
  <div th:if="${coin}">
    <h2>あなたのコインは[[${coin}]]枚です。</h2>
  </div>
  <div th:if="${rays}">
    <h2>あなたは[[${rays}]]枚賭けてます。</h2>
  </div>
  <div th:if="!${myCards}">
    <h2><a href="/poker/card">カードを引く</a></h2>
  </div>
  <div th:if="${myCards}">
    <h4>自分の手札</h4>
    <form action="#" th:action="@{/result}" th:object="${index}" method="post">
      <div th:each="item, iterStat : ${myCards}">
        <label>
          <input type="checkbox" th:value="${iterStat.index+1}" th:text="${item.num} + ' ' +  ${item.cardtype}"
            th:field="*{id}" />
        </label>
      </div>
      <p><input type="submit" value="カードを交換する" /> </p>
    </form>
  </div>

  <!-- ワンペアなどの役を表示 -->
  <div th:if="${role}">
    <h3 th:text="${role}"></h3>
  </div>



</body>

</html>
