<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
  <script th:inline="javascript" th:if="${card}">
    window.onload = function () {
      var cards = [[${ card }]];
      var type = [[${ type }]];
      var card_txt = "[";
      var type_txt = "[";
      for (let i = 0; i < 5; i++) {
        card_txt = card_txt + "  " + cards[i];
        type_txt = type_txt + " " + type[i];
      }
      card_txt += "]";
      type_txt += "]";
      document.getElementById("card").innerHTML = card_txt;
      document.getElementById("card_type").innerHTML = type_txt;

    }
  </script>
</head>

<body>
  <h1>Authorized! [[${login_user}]]</h1>
  <h2><a href="/poker/card">カードを引く</a></h2>
  <div th:if="${card}">
    <span id="card">
      ほげほげ
    </span>
    <br>
    <span id="card_type">
      ほげほげ
    </span>
  </div>


  <a href="/logout">ログアウト</a>

</body>

</html>
