<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
  <script th:inline="javascript" th:if="${myCards}">
    window.onload = function () {
      var counter = 10; //初期値を60に設定
      var sse = new EventSource('/step1');

      sse.onmessage = function (event) {
        counter--;
        console.log(counter);
        document.getElementById("p1").textContent = counter;

        if (counter <= 0) {
          sse.close(); //SSE接続を閉じる
          window.location.href = "poker.html";
        }
      };
    };
  </script>
</head>

<body>
  <h1>[[${login_user}]]さん</h1>
  <p id="p1"></p>
  <a href="/logout">ログアウト</a>
  <div th:if="${coin}">
    <h2>あなたのコインは[[${coin}]]枚です。</h2>
    <p>どの程度上乗せしますか？</p>
    <form action="#" th:action="@{/rays}" method="post">
      <select name="rays">
        <div th:each="i : ${#numbers.sequence(0,4)}">
          <option th:if="${coin} >= ${i}" th:value="${i}" th:text="${i}">
          </option>
        </div>
      </select>
      <button type="submit">送信</button>
    </form>
  </div>
</body>
