<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">

  <title>poker</title>
  <script>
    window.onload = function () {
      var posse = new EventSource('/start/' + [[${ rid }]]);
      posse.onopen = function (event) {
        console.log("SSE connection established."); // 接続が確立された場合にコンソールに表示 };
      };
      posse.onmessage = function (event) {
        console.log(event.data);
        if (posse) posse.close();
        window.location.href = '/poker';
      };
      posse.onerror = function () {
        console.log("Connection lost. Retrying...");
        posse.close(); // 一度接続を閉じる
        setTimeout(connectSSE, 1000); // 3秒後に再接続
      };
    }

  </script>
</head>

<body>
  <h1> [[${login_user}]]さん</h1>
  <h2>相手を待っています</h2>
  <p>準備ができるまで待機してください。</p>
  <a th:href="@{/room/changeStatus(roomId=${room2.id})}"><button>戻る</button></a>
</body>

</html>
