<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">

  <title>poker</title>
  <script>
    var posse; function connectSSE() {
      if (posse) {
        posse.close();
      } posse = new EventSource('/start/' + [[${ rid }]]); posse.onopen = function (event) {
        console.log("SSE connection established.");
      }; posse.onmessage = function (event) { console.log(event.data); if (posse) posse.close(); window.location.href = '/poker'; }; posse.onerror = function () {
        console.log("Connection lost. Retrying..."); posse.close();
        setTimeout(connectSSE, 1000);
      };
    } window.onload = function () { connectSSE(); };
  </script>
</head>

<body>
  <h1> [[${login_user}]]さん</h1>
  <h2>相手を待っています</h2>
  <p>準備ができるまで待機してください。</p>
  <a th:href="@{/room/changeStatus(roomId=${room2.id})}"><button>戻る</button></a>
</body>

</html>
