<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
  <script>
    window.onload = function () {

      var sse = new EventSource('/sample');
      sse.onopen = function (event) {
        console.log("SSE connection established."); // 接続が確立された場合にコンソールに表示 };
      }

      sse.onmessage = function (event) {
        console.log(event.data);
        document.getElementById("test").textContent = event.data;
        window.location.href = '/poker';
      }
    }
  </script>
</head>

<body>
  <h1>こんにちは！[[${login_user}]]</h1>
  <div th:if="${room}">
    ルーム利用者
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <p id="test">マッチング中です</p>
  <a href="/logout">ログアウト</a>
  <br>
  <a href="/poker">pokerへのアクセス</a>
  <br>
  <a href="/help">helpへのアクセス</a>
</body>
