<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
  <script th:inline="javascript" th:if="${myCards}">
    window.onload = function () {
      var counter = 4000; //初期値を60に設定
      var sse = new EventSource('/step1');

      sse.onmessage = function (event) {
        counter--;
        console.log(counter);
        document.getElementById("p1").textContent = counter;

        if (counter <= 0) {
          sse.close(); //SSE接続を閉じる
          window.location.href = "/room";
        }
      };

      window.addEventListener('beforeunload', function () {
        if (sse) {
          sse.close();
        }
      });
    };
  </script>
</head>

<body>
  <h1>[[${login_user}]]</h1>
  <p id="p1"></p>
  <a href="/logout">ログアウト</a>
  <div th:if="${coin}">
    <h2>あなたのコインは[[${coin}]]枚です。</h2>
  </div>
  <h2>現在の手札</h2>
  <div th:if="${myCards}">
    <div th:each="item, iterStat : ${myCards}">
      <tr>
        <td>[[${item.num}]] [[${item.cardtype}]]</td>
      </tr>
    </div>

    <div th:if="${myrole}">
      <h3 th:text="${myrole}"></h3>
    </div>

  <h2>CPUの手札</h2>
    <div th:each="item, iterStat : ${CPUCards}">
      <tr>
        <td>[[${item.num}]] [[${item.cardtype}]]</td>
      </tr>
    </div>

    <div th:if="${cpurole}">
      <h3 th:text="${cpurole}"></h3>
    </div>

    <div th:if="${result}">
      <h2 th:text="${result}"></h2>
    </div>

    <h2>どうしますか？</h2>
    <a href="/poker/call"><button>コール</button></a>
    <a href="/poker/rays"><button>レイズ</button></a>
    <a href="/poker/drop"><button>ドロップ</button></a>
  </div>
