<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>poker</title>
  <link th:href="@{/CSS/poker.css}" rel="stylesheet">
  <script>
    const rid = [[${ rid }]];

    function connectSSE() {
      var dropsse = new EventSource('/drop3/' + [[${ rid }]]);
      dropsse.onopen = function (event) {
        console.log("SSE connection established."); // 接続が確立された場合にコンソールに表示 };
      };
      dropsse.onmessage = function (event) {
        console.log(event.data);
        dropsse.close();
        window.location.href = '/poker/drop2';
      };
      dropsse.onerror = function () {
        console.log("Connection lost. Retrying...");
        dropsse.close(); // 一度接続を閉じる
        setTimeout(connectSSE, 1000); // 3秒後に再接続
      };

    }
    function connectSSE2() {
      var resse = new EventSource('/result3/' + [[${ rid }]]);
      resse.onopen = function (event) {
        console.log("SSE connection established."); // 接続が確立された場合にコンソールに表示 };
      };
      resse.onmessage = function (event) {
        console.log(event.data);
        dropsse.close();
        window.location.href = '/poker/result2';
      };
      resse.onerror = function () {
        console.log("Connection lost. Retrying...");
        resse.close(); // 一度接続を閉じる
        setTimeout(connectSSE, 1000); // 3秒後に再接続
      };

    }

    function lostSSE() {
      var sse = new EventSource('/lost2/' + [[${ rid }]]);
      sse.onopen = function (event) {
        console.log("SSE connection established."); // 接続が確立された場合にコンソールに表示 };
      };
      sse.onmessage = function (event) {
        console.log(event.data);
        dropsse.close();
        window.location.href = '/lost';
      };
      sse.onerror = function () {
        console.log("Connection lost. Retrying...");
        sse.close(); // 一度接続を閉じる
        setTimeout(connectSSE, 1000); // 3秒後に再接続
      };
      window.addEventListener('beforeunload', function () {

        if (sse) dropsse.close();
        window.location.href = '/logout';
      });
    }
    window.addEventListener('load', function () {
      connectSSE();
      connectSSE2();
      lostSSE();
    });
    window.addEventListener('beforeunload', function () {

      if (dropsse) dropsse.close();
      window.location.href = '/logout';
    });

  </script>
  <link th:href="@{/CSS/poker.css}" rel="stylesheet">

</head>

<body>
  <a href="/logout">ログアウト</a>
  <div th:if="${round}">
    <h1>第[[${round}]]ラウンド</h1>
  </div>
  <h1>相手を待っています</h1>
  <div th:if="${turn}">
    <h2>[[${turn}]]ターン目</h2>
  </div>
  <div th:if="${coin}">
    <h2>コイン：[[${coin}]]枚</h2>
  </div>
  <div th:if="${rays}">
    <h2>現在[[${rays}]]枚賭けてます。</h2>
  </div>
  <h2>現在の手札</h2>
  <div th:if="${myCards}">
    <div class="cardlist">
      <div th:each="item, iterStat : ${myCards}">
        <tr>
          <label>
            <td>[[${item.num}]] [[${item.cardtype}]]
              <img th:src="@{/image/{img1}/{img2}.png(img1=${item.cardtype},img2=${item.num})}" />
            </td>
          </label>
        </tr>
      </div>
    </div>

    <div th:if="${myrole}">
      <h3 th:text="${myrole}"></h3>
    </div>

    <a href="/poker/result"><button>結果を表示</button></a>
    <div th:if="${result}">
      <h2 th:text="${result}"></h2>
    </div>
  </div>
